/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --font-color: #353430;
  --header__menu-color-hover: #32312d66;
  --header__title-color: #ffc2e6;
  --header__text-color: #353430;
  --accent-color: #ff0070;
  --title-decor: #ff8dcb;
  --article-text-color: #353430;
  --header__image: url("../images/cover-image-light.png");
}


@media (prefers-color-scheme: light) {
  :root {
    --font-color: #353430;
    --header__menu-color-hover: #32312d66;
    --header__title-color: #ffc2e6;
    --header__text-color: #353430;
    --accent-color: #ff0070;
    --title-decor: #ff8dcb;
    --article-text-color: #353430;
    --header__image: url("../images/cover-image-light.png");
    }
}

.theme_light .header__decoration{
  display: none;
}