/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --font-color: #ff0070;
  --menu-color-hover: #ff007066;
  --title-color: #d800ff;
  --text-color: #000028;
  --accent-color: #ff0070;
  --title-decor: #ff0070;
  --article-text-color: #f1b2ce;
  --background-image: url("../images/cover-image-dark.png");
  --base-background-color: #000028;
  --title-font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
}
